<div nz-row>
  <div nz-col nzSpan="4">col-8</div>
  <!-- 主体 -->
  <div nz-col nzSpan="16" class="content-container">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="16" class="gutter-row" class="container-artical">
        <div class="inner-box">
          <nz-tabset>
            <nz-tab nzTitle="推荐">
              <!-- 骨架屏 -->
              <div *ngFor="let i of [1, 2, 3, 4]">
                <nz-skeleton
                  *ngIf="articals.length == 0"
                  [nzAvatar]="true"
                  [nzActive]="true"
                  [nzParagraph]="{ rows: 4 }"
                ></nz-skeleton>
              </div>
              <!-- 文章列表 -->
              <div *ngIf="articals.length">
                <div class="artical-card" *ngFor="let artical of articals">
                  <div class="card-header">
                    <div class="avatar-container">
                      <img class="avatar" [src]="artical.user.avatar" />
                    </div>
                    <div class="des-container">
                      <div>
                        {{ artical.user.aliasName }}
                        <span class="artical-time">{{ artical.time }}</span>
                      </div>
                      <p>
                        {{ artical.user.description }}
                      </p>
                    </div>
                  </div>
                  <div class="card-content">
                    {{ artical.content }}
                  </div>
                  <div class="card-foot">
                    <span class="setting-box"
                      ><button
                        nz-button
                        nzType="text"
                        (click)="likeIt(artical, likeStatus.like)"
                        [ngClass]="artical.liked == 1 ? 'like' : ''"
                      >
                        <i nz-icon nzType="like" nzTheme="outline"></i
                        >{{ artical.likeCount }}
                      </button></span
                    >
                    <span class="setting-box"
                      ><button
                        nz-button
                        nzType="text"
                        (click)="likeIt(artical, likeStatus.dislike)"
                        [ngClass]="artical.liked == -1 ? 'like' : ''"
                      >
                        <i nz-icon nzType="dislike" nzTheme="outline"></i
                        >{{ artical.dislikeCount }}
                      </button></span
                    >
                    <span
                      class="setting-box"
                      [ngStyle]="{
                        display: artical.expend == true ? 'none' : 'unset'
                      }"
                      ><button
                        nz-button
                        nzType="text"
                        (click)="getCommentsList(artical)"
                      >
                        <i
                          nz-icon
                          [nzType]="'comment'"
                          [nzTheme]="'outline'"
                          [nzTwotoneColor]="'#eb2f96'"
                        ></i
                        >{{ artical.commentTotal }}
                      </button></span
                    >
                    <span
                      class="setting-box"
                      [ngStyle]="{
                        display: artical.expend == false ? 'none' : 'unset'
                      }"
                      ><button
                        nz-button
                        nzType="text"
                        (click)="expend(artical)"
                      >
                        收起评论
                      </button></span
                    >
                    <span class="setting-box"
                      ><button nz-button nzType="text">
                        <i
                          nz-icon
                          [nzType]="'send'"
                          [nzTheme]="'outline'"
                          [nzTwotoneColor]="'#eb2f96'"
                        ></i
                        >分享
                      </button></span
                    >
                    <span class="setting-box"
                      ><button nz-button nzType="text">
                        <i
                          nz-icon
                          [nzType]="'star'"
                          [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'rgb(255, 207, 0)'"
                        ></i
                        >收藏
                      </button></span
                    >
                    <span class="setting-box"
                      ><button nz-button nzType="text">
                        <i
                          nz-icon
                          [nzType]="'heart'"
                          [nzTheme]="'twotone'"
                          [nzTwotoneColor]="'#eb2f96'"
                        ></i
                        >喜欢
                      </button></span
                    >
                    <span class="setting-box">
                      <a nz-dropdown [nzDropdownMenu]="menu">
                        <button nz-button nzType="text">
                          <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
                        </button>
                      </a>
                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                          <li nz-menu-item>
                            <i nz-icon nzType="frown" nzTheme="outline"></i
                            >不感兴趣
                          </li>
                          <li nz-menu-item>
                            <i nz-icon nzType="lock" nzTheme="outline"></i>举报
                          </li>
                        </ul>
                      </nz-dropdown-menu></span
                    >
                  </div>
                  <!-- 评论 -->
                  <div class="comment-card">
                    <app-comment
                      [skeletonLoding]="skeletonLoding"
                      [comments]="comments"
                      [commentsCount]="artical.commentTotal"
                      [expend]="artical.expend"
                      [artical]="artical"
                      (close)="expend()"
                      (refreshComment)="refreshComment(artical)"
                    ></app-comment>
                  </div>
                </div>
              </div>
            </nz-tab>
            <nz-tab nzTitle="关注"> Content of Tab Pane 2 </nz-tab>
            <nz-tab nzTitle="Tab 3"> Content of Tab Pane 3 </nz-tab>
          </nz-tabset>
        </div>
      </div>
      <div nz-col [nzSpan]="8" class="gutter-row" class="container-other">
        <div class="inner-box">col-6</div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="4">col-8</div>
</div>
