<div class="replay-card" *ngFor="let artical of articals">
  <div class="card-header">
    <div class="avatar-container">
      <img class="avatar" [src]="artical.avatar" />
    </div>
    <div class="des-container">
      <div>
        {{ artical.author }}
        <span class="replay-time">4-78</span>
      </div>
      <p class="card-content">
        {{ artical.content }}
      </p>
    </div>
  </div>

  <div class="card-foot">
    <span class="setting-box"
      ><button nz-button nzType="text">
        <i nz-icon nzType="like" nzTheme="outline"></i>{{ artical.like }}
      </button></span
    >
    <span class="setting-box"
      ><button nz-button nzType="text">
        <i nz-icon nzType="dislike" nzTheme="outline"></i>{{ artical.dislike }}
      </button></span
    >

    <span class="setting-box"
      ><button nz-button nzType="text">
        <i
          nz-icon
          [nzType]="'send'"
          [nzTheme]="'outline'"
          [nzTwotoneColor]="'#eb2f96'"
        ></i
        >回复
      </button></span
    >
    <span class="setting-box"
      ><button nz-button nzType="text">
        <i
          nz-icon
          [nzType]="'comment'"
          [nzTheme]="'outline'"
          (click)="secondLevelReplay()"
          [nzTwotoneColor]="'#eb2f96'"
        ></i
        >查看回复
      </button></span
    >
    <span class="setting-box"
      ><button nz-button nzType="text">
        <i
          nz-icon
          [nzType]="'heart'"
          [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#eb2f96'"
        ></i
        >喜欢
      </button></span
    >
    <span class="setting-box"
      ><button nz-button nzType="text">
        <i nz-icon nzType="lock" nzTheme="outline"></i>举报
      </button></span
    >
  </div>
</div>
